<div class="login-page">
    <div class="login-form-container">
        {{> Form
            title="Вход"
            gap="wide"
            inputs=inputs
            mainButton=mainButton
            secondaryButton=secondaryButton
        }}
    </div>
</div>
