.login-page {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.login-form-container {
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
    box-sizing: border-box;
    max-width: 340px;
    min-height: 450px;
    padding: 50px 30px 30px;
    width: 100%;

    > [data-id] {
        height: 100%;
    }
}
