@use '../../styles/colors' as *;

.button {
    align-items: center;
    border: none;
    border-radius: 8px;
    column-gap: 8px;
    cursor: pointer;
    display: inline-flex;
    font-size: 13px;
    justify-content: center;
    line-height: 13px;
    outline: none;
    padding: 12px 20px;
    text-align: center;
    transition: all 0.2s ease;

    &:hover {
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    &.accent {
        background-color: $accent-color;
        color: white;
    }

    &.default {
        background-color: $secondary-color;
    }

    &.warning {
        background-color: $warning-color;
    }

    &.clear {
        background-color: transparent;
        border-radius: 0;
        padding: 0;

        &.accent {
            color: $accent-color;
        }

        &.default {
            color: $secondary-color;
        }

        &.warning {
            color: $warning-color;
        }
    }

    &.fullWidth {
        width: 100%;
    }

    &__icon {
        align-items: center;
        display: inline-flex;

        img {
            height: auto;
            max-height: 100%;
            max-width: 100%;
            width: auto;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }
}
