<form class="form {{gap}}" method="post">
    {{#if title}}
        <h2 class="form-title">{{title}}</h2>
    {{/if}}
    <div class="form-content" data-id="{{inputsStubId}}"></div>
    <div class="form-buttons" data-id="{{buttonsStubId}}"></div>
</form>
