@use '../../styles/colors' as *;

.chat-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

    &__sidebar {
        background-color: #FBFBFB;
        border-right: 1px solid #EAEAEA;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100vh;
        overflow-y: auto;
        width: 310px;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #EAEAEA;
            border-radius: 2px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        > [data-id] {
            height: 100%;

            > [data-id] {
                height: 100%;
            }
        }
    }

    &__sidebar-header {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        padding: 21px 10px 14px;
        row-gap: 23px;
    }

    &__sidebar-search {
        background-color: $tertiary-color;
        border: 0;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 12px;
        outline: none;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    &__chat {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        padding: 10px 20px;
        width: 100%;
    }

    &__welcome-message {
        color: $secondary-color;
        font-size: 12px;
        line-height: 12px;
        margin: 0
    }

    &__chat-header {
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        width: 100%;
    }

    &__name {
        font-size: 13px;
        line-height: 13px;
        margin: 0 0 0 10px;
    }

    &__setting {
        align-items: center;
        display: flex;
        margin-left: auto;
    }

    &__body {
        height: 100%;
        padding: 10px 0 20px;
        width: 100%;

        > [data-id] {
            height: 100%;

            > [data-id] {
                height: 100%;
            }
        }
    }

    &__chat-footer {
        align-items: center;
        border-top: 1px solid #EAEAEA;
        column-gap: 10px;
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        width: 100%;
    }

    &__chat-textarea {
        background-color: #EAEAEA;
        border: 0;
        border-radius: 16px;
        box-sizing: border-box;
        font-size: 12px;
        height: 32px;
        line-height: 12px;
        outline: none;
        overflow-y: hidden;
        padding: 10px 20px;
        resize: none;
        text-align: start;
        width: 100%;
    }

    &__chat-send-button {
        background-color: $accent-color;
        background-image: url('/public/icons/send.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: 28px;
        outline: none;
        width: 28px;
    }
}
