<div class="chat-page">
    <div class="chat-page__sidebar">
        <div class="chat-page__sidebar-header">
            <div data-id="profile-button"></div>
            <input
                class="chat-page__sidebar-search"
                placeholder="Поиск"
                aria-label="Поиск чатов"
                data-id="search-input"
            />
        </div>
        <div data-id="chatlist"></div>
    </div>
    {{#if activeChat}}
        <div class="chat-page__chat">
            <div class="chat-page__chat-header">
                <div data-id="avatar"></div>
                <p class="chat-page__name">{{activeChat.title}}</p>

                <div class="chat-page__setting">
                    <div data-id="settings-button"></div>
                </div>
            </div>
            <div class="chat-page__body">
                <div data-id="messageslist"></div>
            </div>
            <div class="chat-page__chat-footer">
                <div data-id="attachments-button"></div>
                <textarea
                    class="chat-page__chat-textarea"
                    name="message"
                    placeholder="Сообщение"
                    rows="1"
                    data-id="message-textarea"
                ></textarea>
                <button
                    class="chat-page__chat-send-button"
                    type="button"
                    data-id="send-button"
                ></button>
            </div>
        </div>
    {{else}}
        <div class="chat-page__chat">
            <p class="chat-page__welcome-message">
                Выберите чат, чтобы отправить сообщение
            </p>
        </div>
    {{/if}}
</div>
