.chat-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
}

.chat-list > li {
    margin: 3px 0 0;
    position: relative;
}

.chat-list > li::before {
    background-color: #EAEAEA;
    content: '';
    height: 1px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: -2px;
}
