<div class="profile-page">
    <button class="profile-page__side-button" aria-label="Назад">
        <img src="/public/icons/leftArrowCircle.svg" alt="" class="custom-button__icon" />
    </button>
    <div class="profile-page__content">
        <div class="profile-page__avatar-wrapper">
            <button class="profile-page__avatar-button" hidden="hidden"></button>
            {{#if avatar}}
                <img class="profile-page__avatar-image" src="{{avatar}}" alt="Аватар" />
            {{/if}}
            <p class="profile-page__avatar-overlay">Поменять аватар</p>
        </div>
        <p class="profile-page__name">{{first_name}}</p>
        <div class="profile-page__info">
            {{> Form
                inputs=inputs
            }}
        </div>
        <ul class="profile-page__actions">
            <li>
                {{> Button type="button" view="accent" clear=true text="Изменить данные" }}
            </li>
            <li>
                <hr class="profile-page__actions-divider" />
            </li>
            <li>
                {{> Button type="button" view="accent" clear=true text="Изменить пароль" }}
            </li>
            <li>
                <hr class="profile-page__actions-divider" />
            </li>
            <li>
                {{> Button type="button" warning=true clear=true text="Выйти" }}
            </li>
        </ul>
    </div>
</div>
