<div class="profile-page">
    <button class="profile-page__side-button" aria-label="Назад" data-id="back-button">
        <img src="/public/icons/leftArrowCircle.svg" alt="" class="custom-button__icon" />
    </button>
    <div class="profile-page__content">
        <div class="profile-page__avatar-wrapper">
            {{#if avatar}}
                <img class="profile-page__avatar-image" src="{{avatar}}" alt="Аватар" />
            {{/if}}
            <button class="profile-page__avatar-overlay" data-id="avatar-btn">Поменять аватар</button>
        </div>
        <p class="profile-page__name">{{first_name}}</p>
        <div class="profile-page__info" data-id="form-stub"></div>
        {{#if isView}}
            <ul class="profile-page__actions" data-id="actions-list">
                <li data-id="edit-data-stub"></li>
                <li><hr class="profile-page__actions-divider" /></li>
                <li data-id="edit-password-stub"></li>
                <li><hr class="profile-page__actions-divider" /></li>
                <li data-id="logout-stub"></li>
            </ul>
        {{/if}}
    </div>
</div>
