<div class="file-upload-container">
    {{#if showInitial}}
        <button class="file-upload__choose" data-id="choose-link">Выбрать файл на компьютере</button>
    {{/if}}
    {{#if showLoaded}}
        <p class="file-upload__filename">{{fileName}}</p>
    {{/if}}
</div>