<div class="modal-overlay" data-id="modal-overlay">
    <div class="modal-container">
        {{#if title}}
            <h2 class="modal-title">{{title}}</h2>
        {{/if}}
        <div class="modal-content">{{{content}}}</div>
        <div class="modal-button" data-id="modal-button">{{{buttonHtml}}}</div>
        {{#if errorText}}
            <div class="modal-error">{{errorText}}</div>
        {{/if}}
    </div>
</div>
