@use '../../styles/colors' as *;

.message-item {
    display: flex;
    flex-direction: column;
    max-width: 60%;

    &--mine {
        margin-left: auto;
    }

    &--their {
        margin-right: auto;
    }

    &__date-separator {
        align-self: center;
        color: $secondary-color;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 30px;
    }

    &__bubble {
        background-color: #F8F8F8;
        border-radius: 0 12px 12px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
        padding: 11px 30px 11px 11px;
        position: relative;

        &--image {
            align-items: center;
            background: none;
            border: 1px solid #EAEAEA;
            display: flex;
            justify-content: center;
            max-width: 316px;
            overflow: hidden;
            padding: 0;
        }

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &--mine &__bubble {
        background-color: #E4EDFD;
        border-radius: 12px 12px 0;
        padding-right: 60px;
    }

    &__text {
        margin: 0;
    }

    &__time {
        bottom: 11px;
        color: $secondary-color;
        font-size: 9px;
        line-height: 9px;
        position: absolute;
        right: 11px;
    }

    &__time-mine {
        color: $accent-color;
    }

    &__status {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 12px;
        height: 6px;
        position: absolute;
        right: 39px;
        width: 10px;

        &--sent {
            background-image: url('/public/icons/sent.svg');
        }

        &--read {
            background-image: url('/public/icons/read.svg');
        }
    }
}
