@use '../../styles/colors' as *;

.chat-item {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 67px;
    padding: 10px;

    &--active {
        background-color: #E4EDFD;
    }

    &:not(.chat-item--active):hover {
        background-color: #F8F8F8;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    &__avatar {
        margin-right: 10px;
    }

    &__name {
        display: flex;
        font-size: 13px;
        font-weight: 600;
        justify-content: space-between;
        line-height: 13px;
        margin: 0;
    }

    &__message {
        -webkit-box-orient: vertical;
        color: $secondary-color;
        display: -webkit-box;
        font-size: 12px;
        -webkit-line-clamp: 2;
        line-height: 15px;
        margin: 0;
        max-width: 193px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__user {
        color: $primary-color;
    }

    &__badges {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        height: 47px;
        justify-content: space-between;
        margin-left: auto;
        position: absolute;
        right: 10px;
    }

    &__date {
        color: $secondary-color;
        font-size: 9px;
        line-height: 13px;
        margin: 0;
    }

    &__unread {
        align-items: center;
        background-color: $accent-color;
        border-radius: 50%;
        color: white;
        display: flex;
        font-size: 11px;
        height: 20px;
        justify-content: center;
        line-height: 12px;
        width: 20px;
    }
}
