<div class="signup-page">
    <div class="signup-form-container">
        {{> Form
            title=title
            gap="wide"
            inputs=inputs
            mainButton=mainButton
            secondaryButton=secondaryButton
        }}
    </div>
</div>
